@using DolphinDraftHistory.Models
@inject HttpClient Http
@page "/"

<h1>Miami Dolphin Draft Picks: 2020</h1>
<hr/>

@if (_draftPicks == null) {
    <p>
        <em>Loading...</em>
    </p>
}
else {

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Year</th>
                <th>Round</th>
                <th>Player</th>
                <th>Pick</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var pick in _draftPicks) {
                <tr>
                    <td>@pick.Year</td>
                    <td>@pick.Rnd</td>
                    <td>@pick.Player</td>
                    <td>@pick.Pick</td>
                    <td>@pick.POS</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DraftPick[] _draftPicks;
    private const string ServiceEndpoint = "https://localhost:6001/dolphindraft/year/2020";
    private async Task GetDraftPicks() => _draftPicks = await Http.GetFromJsonAsync<DraftPick[]>(ServiceEndpoint);
    protected override async Task OnInitializedAsync() => await GetDraftPicks();
}