@using DolphinDraftHistory.Models
@inject HttpClient Http
@page "/position"

<h1>Miami Dolphin Draft Picks - By Position</h1>
<hr/>

@if (_draftPicks == null) {
    <p>
        <em>Loading...</em>
    </p>
}
else {

      <table class="table table-bordered">
        <thead>
            <tr>
                <th width="75px">Year</th>
                <th width="75px">Round</th>
                <th>Player</th>
                <th>College/University</th>
                <th width="75px">Pick</th>
                <th width="100px">Position</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var pick in _draftPicks) {
                <tr>
                    <td align="center">@pick.Year</td>
                    <td align="center">@pick.Rnd</td>
                    <td>@pick.FriendlyPlayerName</td>
                    <td>@pick.College_Univ</td>
                    <td align="center">@pick.Pick</td>
                    <td align="center">@pick.POS</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DraftPick[] _draftPicks;
    private const string ServiceEndpoint = "https://dolphin-api.azurewebsites.net/dolphindraft";
    private async Task GetDraftPicks() => _draftPicks = await Http.GetFromJsonAsync<DraftPick[]>(ServiceEndpoint);
    protected override async Task OnInitializedAsync() => await GetDraftPicks();
}